<footer class="site-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer.sitemap }}
      <div class="col-lg-2 col-md-4">
        <div class="site-footer-widget">
          <div class="site-footer-widget-title">{{ .title }}</div>
          <ul class="site-footer-widget-links">
            {{ range .link }}
            <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.social }}
      <div class="col-lg-2 col-md-4">
        <div class="site-footer-widget">
          <div class="site-footer-widget-title">{{ .title }}</div>
          <ul class="site-footer-widget-links">
            {{ range .link }}
              <li><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-footer-copyright">
          <p>© Copyright {{ dateFormat "2006" now }} - All Rights Reserved by <a href="https://wwuagic.com/" target="_blank">WWU AGIC</a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>