{{ with .Site.Data.motivation }}
  {{ if .enable }}
  <section class="site-motivation">
    <div class="container">
      <div class="row">
        {{ if .title }}
        <div class="col-12">
          <div class="top-section emphasize">
              {{ .title }}
          </div>
        </div>
        {{ end }}
        {{ range .motivationSections }}
          {{ if isset . "imgSrc" }}
          <div class="col-12 img-container">
            <img src="{{ .imgSrc }}" alt="{{ .altText }}" />
          </div>
          {{ else }}
          <div class="col-12">
            <p class="site-motivation-paragraph">
              {{ . }}
            </p>
          </div>
          {{ end }}
        {{ end }}
        {{ if .callout }}
        <div class="col-12">
          <div class="emphasize">
              {{ .callout }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}