{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-12 mt-4">
        <h2 class="site-contact-item">Email: {{ .Params.email }}</h2>
      </div>
      <div class="col-lg-12 mt-4">
        <h2 class="site-contact-item">Instagram: <a href="https://www.instagram.com/{{ .Params.instagram }}/" title="instagram">{{ .Params.instagram }}</a></h2>
      </div>
      <div class="col-lg-12 mt-4">
        <h2 class="site-contact-item">Meetings: {{ .Params.meetingInfo }}</h2>
      </div>
      <div class="col-lg-12 mt-4">
        <p>** We also run a Discord server. Please Email or DM us for an invitation to it or for further meeting details.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
